DB_DRIVER=postgres

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bookstore_info_system

DB_DSN = postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:6432/${POSTGRES_DB}?sslmode=disable
DB_DEV_DSN=postgres://dev:dev@localhost:6433/devdb?sslmode=disable

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=24