services:
     postgres:
        image: postgres:latest
        ports:
            - "6432:5432"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_DB: ${POSTGRES_DB}
            # POSTRGRES_PASSWORD=${POSTRGRES_PASSWORD}
            POSTGRES_PASSWORD: /run/secrets/db_password
        secrets:
            - db_password
        
        healthcheck:
            test: ["CMD-SHELL", "pg_isready"]
            interval: 10s
            timeout: 5s
            retries: 5

secrets:
   db_password:
     file: db_password.txt