services:
    postgres:
        image: postgres:latest
        ports:
            - "6432:5432"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 10s
            timeout: 5s
            retries: 5
    
    migrate:
        build:
            context: .
            target: migrator
        depends_on:
            postgres:
                condition: service_healthy
        environment:
            DB_DRIVER: ${DB_DRIVER}
            DB_DSN: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
    
    app:
        build:
            context: .
        environment:
            DB_DRIVER: ${DB_DRIVER}
            DB_DSN: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
            JWT_SECRET: ${JWT_SECRET}
            JWT_EXPIRATION: ${JWT_EXPIRATION}
        ports:
            - "8080:8080"
        depends_on:
            migrate:
                condition: service_completed_successfully